
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="align-items-center">
    <h2>Bem Vindo ao Shelf Manager</h2>
    <h3>O seu gerenciador de estoque</h3>
    <img src="~/Content/Image/a317293a-b19e-42e7-8c97-52f140b740c8.jpg" />
</div>


