@model List<Project.Presentation.Models.EstoqueConsultaModel>
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Consulta Estoque</h2>

<br />
<br />
<strong>@TempData["MensagemErro"]</strong>
<div>
    <table class="table table-borderless table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Acoes</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.IdEstoque </td>
                    <td>@u.Nome</td>
                    <td>
                        <a href="/Estoque/Update/@u.IdEstoque" class="btn btn-primary btn-sm">Atualizar</a>
                        <a href="/Estoque/Delete/@u.IdEstoque" class="btn btn-danger btn-sm" >Excluir</a>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
           <tr>
                <td>@TempData["Mensagem"]</td>
           </tr>
        </tfoot>
    </table>


</div>



