@model Project.Presentation.Models.EstoqueDeleteModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Item permanentemente excluído!</h2>
<div>
    <a href="/Estoque/Consulta" class="btn btn-primary btn-sm">Voltar</a>
</div>

